<div id="footer" class="p-3 text-white" style="background: black">
    <div class="container-xl">
        <div class="row">
            <div class="offset-lg-2 col-12 col-lg-8">
                <div class="text-light text-center font-size-sm">
                    <a target="_blank" href="https://github.com/shinyorg" class="text-light pr-2 mr-1"><i class="fab fa-github"></i> GitHub</a>
                    <a target="_blank" href="https://x.com/allanritchie911" class="text-light pr-2 mr-1"><i class="fab fa-twitter"></i> X</a>
                    <a target="_blank" href="https://youtube.com/@@GoneDotNet" class="text-light pr-2 mr-1"><i class="fab fa-youtube"></i> YouTube</a>
                    <a target="_blank" href="mailto:allan.ritchie@gmail.com" class="text-light pr-2 mr-1"><i class="fab fa-mail-reply"> Email</i></a>
                    <a target="_blank" class="text-light font-weight-bold" href="https://github.com/sponsors/aritchie"><i class="fa fa-heart"></i> Sponsor My Open Source</a>
                </div>
            </div>
        </div>
    </div>
</div>