<li><a href="/about">About</a></li>
<li><a href="/livestream">Live Streams</a></li>
<li><a href="hhttps://calendly.com/allan-ritchie/office-hours" target="_NEWWINDOW">Office Hours</a></li>
<li><a href="/speaking">Speaking</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/posts">Archive</a></li>
<li><a href="/tags">Tags</a></li>