<style>
    img.sidebarlogo
    {
        width: 220px;
        margin-top: 10px;
    }
</style>
<hr />
<ul class="list-unstyled">
    <li><a href="https://github.com/aritchie"><i class="fa fa-github"></i> GitHub (aritchie)</a></li>
    <li><a href="https://twitter.com/allanritchie911"><i class="fa fa-twitter"></i> Twitter (allanritchie911)</a></li>
    <li><a href="https://www.linkedin.com/in/allan-ritchie-44b58b3/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="mailto:allan.ritchie@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
</ul>

<a href="https://mvp.microsoft.com/en-us/PublicProfile/5002565">
    <img src="images/msft_mvp.png" class="sidebarlogo" />
</a>
<img src="images/xammvp.png" class="sidebarlogo" />
@*
<a href="https://www.planetxamarin.com">
    <img src="images/planetxamarin-featured-badge.png" class="sidebarlogo" />
</a>
*@
<a class="twitter-timeline" data-width="240" data-height="400" href="https://twitter.com/allanritchie911?ref_src=twsrc%5Etfw">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>