<hr />
<a href="https://mvp.microsoft.com/en-us/PublicProfile/5002565"><img src="images/msft_mvp.png" /></a>
<img src="images/xammvp.png" />

<!--
<a href="https://twitter.com/allanritchie911?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@allanritchie911</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="allan-ritchie-44b58b3"><a class="LI-simple-link" href='https://ca.linkedin.com/in/allan-ritchie-44b58b3?trk=profile-badge'>Allan Ritchie</a></div>
-->

<ul class="list-unstyled">
    <li><a href="https://twitter.com/allanritchie911"><i class="fa fa-twitter"></i> Twitter (allanritchie911)</a></li>
    <li><a href="https://github.com/aritchie"><i class="fa fa-github"></i> GitHub (aritchie)</a></li>
    <li><a href="https://www.linkedin.com/in/allan-ritchie-44b58b3/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>