<ul class="list-unstyled">
    <li><a href="https://github.com/aritchie"><i class="fa fa-github"></i> GitHub (aritchie)</a></li>
    <li><a href="https://twitter.com/allanritchie911"><i class="fa fa-twitter"></i> Twitter (allanritchie911)</a></li>
    <li><a href="https://www.linkedin.com/in/allan-ritchie-44b58b3/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="mailto:allan.ritchie@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
</ul>