<?xml version="1.0"?>
<configuration>
    <system.web>
        <customErrors mode="Off">
            <error statusCode="404" redirect="~/404.html" />
        </customErrors> 
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="html">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>